In [ ]:
''' data structure
1) What are data structures, and why are they important ?
>>>Data structure  is a way of organizing and storing the data in "list , tuples, sets, string, dictionary as it can be accessed easily and manipulate efficiently.

2)  Explain the difference between mutable and immutable data types with examples.
>>after the creation of program  can modify that's called as mutalbe and program can't modify after creation called as immutable
 examples :
 Mutalbe :-'''
Grocery = ["sugar","peanuts","soyabian","Coffee","Paneer"]
type(Grocery)

list

In [ ]:
Grocery[1] = " SOYA"

In [ ]:
Grocery

['sugar', ' SOYA', 'soyabian', 'Coffee', 'Paneer']

In [ ]:
Lis = [1,2,3,4,"samir",[1.2,3.5,"true"],{"santosh": 1234}]

In [ ]:
Lis[-1]["santosh"] = "samair"

In [ ]:
Lis

[1, 2, 3, 4, 'samir', [1.2, 3.5, 'true'], {'santosh': 'samair'}]

In [ ]:
## immutable
Groc = ('sugar', ' SOYA', 'soyabian', 'Coffee', 'Paneer')

Groc[1]  = "Nutes"

TypeError: 'tuple' object does not support item assignment

In [ ]:
Lis = (1,2,3,4,"samir",1.3,"true")

In [ ]:
type (Lis)

tuple

In [ ]:
Lis[-1] = "samir"

TypeError: 'tuple' object does not support item assignment

In [ ]:
Lis

(1, 2, 3, 4, 'samir', 1.3, 'true')

In [5]:
''' 3)What are the main differences between lists and tuples in Python
>>> lists are mutable and tuples are immutable
 after creation list can modify but tuple can't modify

  4) Describe how dictionaries store data
 >>> dictionery store data in key value pair, for indexing we can use key value pair.  and same is mutable can assing value to key value pair.
  if have addded updated value in dictionery assing updated value insted of old value.


5) Why might you use a set instead of a list in Python?

>>>> set is unorderd collection of data which is not accesseble using index.  set does not matter the order that's why we can't access using index.
 if have duplicate values in the set when you print the same showing unique value only

 6) What is a string in Python, and how is it different from a list?

 >>>> string is a immutable in this charctores arranged in unchangeble order.and cosider to writing sentences.

 7)How do tuples ensure data integrity in Python?
 >>> tuples is a unchangeble data collection in this can delete the tuple but can't modify it  that's why tuples is a secure way store the data.


 8) What is a hash table, and how does it relate to dictionaries in Python




 9) Can lists contain different data types in Python.

 >>>> list is a heterogenous data type can use contain defferant data type like string, boolian, integer,complex


10) Explain why strings are immutable in Python ?

>>>> can't modify the string Exa :- "samir" in this can't modift the samir using idexing like samir[1] = "b"
 if try to do this getting error string is immutable

11 ) What advantages do dictionaries offer over lists for certain tasks?

>>> in the dictinery can assining the value using key pair and also access the value using same keys and keys & values can be use in dictioner.


12 ) Describe a scenario where using a tuple would be preferable over a list ?

>>   in few condition need to store data securly like pan card aadhar card and tuple is unchangeble data type . hence tuple is preferable  insted of list

13 ) How do sets handle duplicate values in Python ?
>>>> set is is unorderd collection of unique data in this duplicate entry not allowed if have duplicate value in set creation set showing unque value only  when run the program.'''

a = {"samir", "santosh","samir","santosh"}
a

{'samir', 'santosh'}

In [ ]:
'''14 )  How does the “in” keyword work differently for lists and dictionaries ?'''
>>> ## "In" is a membership opertor whic can use to check value is available or not'''
lis = ["santosh","samir","sandip","dhanaji","shubham"]
"shubham" in lis

True

In [ ]:
dic = {"santosh":1234,"Dj":4321}
"santosh" in dic

True

In [ ]:
from os import name
'''15 ) Can you modify the elements of a tuple? Explain why or why not ?
>>> tuple is immutable hence can not modify the elements of tuple. can use tuple for stable data elements.


16 ) What is a nested dictionary, and give an example of its use case ?
>>> can use dictionary under the dictionery that's called nexted dictionery.'''

name = {
'Dic1':{"san": "santosh","samir":"sam"},
'Dic2':{'A':1234,'B':4321},
'Dic3':{'c':987,"d":75646}
}
name

{'Dic1': {'san': 'santosh', 'samir': 'sam'},
 'Dic2': {'A': 1234, 'B': 4321},
 'Dic3': {'c': 987, 'd': 75646}}

In [ ]:
name. get("Dic1")

{'san': 'santosh', 'samir': 'sam'}

In [ ]:
17 ) Describe the time complexity of accessing elements in a dictionary
>>>



18 ) In what situations are lists preferred over dictionaries ?
>>  list is orderd collection of data list grocery list. can access the data useing indexing but in dictionary can access the data using key value pair and same is unorderd colection of data
grocery list is one of the example


19 ) Why are dictionaries considered unordered, and how does that affect data retrieval ?
>>> we can't slicing the data using indexing reason of behind this elements are not store in specific order. need to add use key value to retrieval the data insted of index


20 ) Explain the difference between a list and a dictionary in terms of data retrieval
>>> List :

can use indexing to use data retrieval and list is a order collection of data list is versatile for store , managing and collectiong data that might chnage.

Dictionary :
 dictionary is unorder collection of data which can iterat though key value pair.

'''

In [ ]:

### Practical questions.

'''1) Write a code to create a string with your name and print it ?'''

Name = "santosh"
print (Name)
type (Name)

santosh

str

In [ ]:
##2) Write a code to find the length of the string "Hello World".

a = "Hello World"

len(a)

11

In [ ]:
### 3)  Write a code to slice the first 3 characters from the string "Python Programming"

str = "python programming"
str [:3]

'pyt'

In [ ]:
### 4) Write a code to convert the string "hello" to uppercase ?

convert =("hello")
print (convert.upper())

HELLO

In [ ]:
### 5 ) Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

sen = " I like apple"
sen.replace("apple", "orange")

' I like orange'

In [ ]:
### 6) Write a code to create a list with numbers 1 to 5 and print it
san = list(range(1,6))
print(san)

[1, 2, 3, 4, 5]

In [ ]:
### 7) Write a code to append the number 10 to the list [1, 2, 3, 4] ?

List = [1,2,3,4]
List.append(10)
print(List)

[1, 2, 3, 4, 10]

In [ ]:
### 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [ ]:
### 9 )  Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
element = ['a', 'b', 'c', 'd']
element[1]

'b'

In [ ]:
### 10) Write a code to reverse the list [10, 20, 30, 40, 50]
reverse = [10, 20, 30, 40, 50]
print (reverse[::-1])

[50, 40, 30, 20, 10]

In [ ]:
### 11) Write a code to create a tuple with the elements 10, 20, 30 and print it
Tuple=(10,20,30)
print (Tuple)

(10, 20, 30)

In [ ]:
### 12) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple =('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [ ]:
### 13)  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [ ]:
### 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
tuple. index('cat')

1

In [ ]:

### 15)  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

In [ ]:
### 16)  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

SET = {1, 2, 3, 4, 5}
print(SET)

{1, 2, 3, 4, 5}

In [ ]:
### 17)  Write a code to add the element 6 to the set {1, 2, 3, 4}.

SET = {1,2,3,4}
SET.add(6)
print(SET)

{1, 2, 3, 4, 6}

In [ ]:
### 18)  Write a code to create a tuple with the elements 10, 20, 30 and print it.

Tuple = (10,20,30)
print(Tuple)

(10, 20, 30)

In [ ]:
''' 19 )  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').'''
Tuple = ('apple', 'banana', 'cherry')
Tuple[0]

'apple'

In [ ]:
### 20 )  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1,2,3,2,4,2)
tuple.count(2)

3

In [ ]:
### 21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ("dog","cat","rabbit")
tuple.index("cat")

1

In [ ]:
#### 22)  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

tuple = ("apple","orange","banana")
"banana" in tuple

True

In [ ]:
### 23) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
SET = {1,2,3,4,5}
print(SET)

{1, 2, 3, 4, 5}

In [ ]:
### 24) Write a code to add the element 6 to the set {1, 2, 3, 4}.

SET = {1,2,3,4,}
SET.add(6)
print(SET)

{1, 2, 3, 4, 6}

In [ ]:
lis = ["santosh","samir","sandip","dhanaji","shubham"]
"shubham" in lis

True