In [ ]:
''' Python basics questions
1) What is Python, and why is it popular?
>> Python is a programming language. nad it's easy to write and read

2)What is an interpreter in Python?
>> python code translate into machinereadable and execute it line by line
    when run the python program the interpreter read the code and excute the code line by line insted of the full programe in one go.

3)   What are pre-defined keywords in Python?
>>  Python have pre-defined words and have special mening for the same 'keyword' :- if, else, false and true.
    keywords can't use as a identifiers.

4) Can keywords be used as variable names?
>> in the python programming should not use keywords as a verials.

5) What is mutability in Python?
>> in python object can be modify after the creation. dictionery and list are examples of mutable object

6) Why are lists mutable, but tuples are immutable?
>> we can modify the list but tuples are not.

7)What is the difference between “==” and “is” operators in Python?
>> "==" is a comparison operator and showing value of obectes are equal but "is" a asingning operatore .

8) What are logical operators in Python?
>>  logical operators are following :- "and, or ,not"

9)What is type casting in Python.
>>  type casting also refer as type conversion in the process of changing the data one to another type.
    Type casting is bassically conversion of data type.

10)   What is the difference between implicit and explicit type casting ?
>>>> Python undersand the data type it's called as implecit data type and we can covert one data type to another type using inbuilt function

11) What is the purpose of conditional statements in Python?
>>> during the programming/ daily routine we have multipale condition for that time conditinal statement is usefull to output.

12) How does the elif statement work?
>>>>> elif usege if have more then 2 conditions. for Exa.'''
ramesh = 1000
if ramesh  >1000:
  print(">1000")
elif ramesh < 1000:
  print ("<1000")
else:
  print("=1000")

=1000

In [ ]:
'''13)  What is the difference between for and while loops?
>>>> For loop :- basically for loop used for repeat(iterating) the sequence of elements.
>>>>> while loop :- while loop used for executing code untill condition is met.

14) Describe a scenario where a while loop is more suitable than a for loop
>> following scenario while loop is more suitalble than for loop
n=7
i = 1
 in this scenarion need execute the code untill code condition is met.
 if code wanted to run till i = 7 then neet to use while loop in this condition.once i = 7 that time contion is met.
  and provide output like 1,2,3,4,5,6'''


 #Practical Questions

# 1) Write a Python program to print "Hello, World!_

print("hello, World")

hello, World

In [ ]:
# 2)Write a Python program that displays your name and age.

name = "santosh"
age = 29

print(f"I am {name} and age is { age}")

I am santosh and age is 29

In [ ]:
from keyword import kwlist
# 3)  Write code to print all the pre-defined keywords in Python using the keyword library

print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
from ast import keyword
# 4) Write a program that checks if a given word is a Python keyword.

SyntaxError: invalid syntax (<ipython-input-39-c782d4d30082>, line 4)

In [ ]:

  # 5)Create a list and tuple in Python, and demonstrate how attempting to change an element works differently  for each.
a =  ["santosh", "samir", "tuple",1,2,3,5,68]
a [0] = "shinde"
a

['shinde', 'samir', 'tuple', 1, 2, 3, 5, 68]

In [ ]:
a[1] = 123
a

['shinde', 123, 'tuple', 1, 2, 3, 5, 68]

In [ ]:
a[-1] = "santy"
a

['shinde', 123, 'tuple', 1, 2, 3, 5, 'santy']

In [ ]:
san = ("shinde", "santosh", "samir", "tuple",1,2,3,5,68)
type (san)

san (-1) = "santy"
san

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-9-a66cd3de5d28>, line 4)

In [ ]:
# 6) Write a function to demonstrate the behavior of mutable and immutable arguments?
lis = ["tomato", "apple", "orange", "banana", 3.5,8,]
# mutable
lis [3] = "banty"
lis

['tomato', 'apple', 'orange', 'banty', 3.5, 8]

In [ ]:
# immutable
grocery = ( "sugar"", "peanut" "tea poweder","backing soda",1,3.6 )

grocery(-1) = "nuts"
grocery

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-13-cd0d7bb304d2>, line 2)

In [ ]:
# 8) Write a program to demonstrate the use of logical operators?
a = 10
b = 5

a >= 10 and b>=5

True

In [ ]:
a<10 and b<=5

False

In [ ]:
samir = 100
santosh = 20
samir >= 100 or santosh > 20

True

In [ ]:
samir <100 or santosh >20

False

In [ ]:
# 9) Write a Python program to convert user input from string to integer, float, and boolean types

b= int (input ("enter a number  "))
print (b)
type(b)

enter a number  10
10

int

In [ ]:
 B = float(input("enter mark"))
 print(B)
 type(B)

enter mark50
50.0

float

In [ ]:
samir = bool(input("write something   "))
print(samir)
type(samir)

write something   hio7
True

bool

In [ ]:
# 10) Write code to demonstrate type casting with list elements?

a = ["samir","santosh", 1,4,4.5,True]
type (a)

list

In [ ]:
b= tuple(a)
type (b)
print(b)

('samir', 'santosh', 1, 4, 4.5, True)

In [ ]:
# 11) Write a program that checks if a number is positive, negative, or zero?
a = -1
if a > 0:
  print("positive")
elif a<0:
  print("negative")

else:
  print("zero")

negative

In [ ]:
 # 12) Write a for loop to print numbers from 1 to 10?

for i in range(11):
  print(i, end = ",")

0,1,2,3,4,5,6,7,8,9,10,

In [ ]:
# 13) Write a Python program to find the sum of all even numbers between 1 and 50
a = 50
b =1
sum = 0
while (b < a):
  if (b % 2 ==0):
    sum+=b
  b+=1
print(sum)

600

In [ ]:
# 14) Write a program to reverse a string using a while loop?

samir = 40
ramesh = 0
while(samir  > ramesh):
  print(samir)
  samir -=1

40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1